/* For the top navigator bar */
.topnav {
    background-color: rgb(238, 165, 165);
    overflow: hidden;
    margin: auto;
    width: 60%;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(255, 197, 197);
    color: hsl(0,0,0);
}
.topnav a.active {
    background-color: #e46f6f;
    color: white;
}


/* For the section of main content */
section {
    margin: auto;
    width: 60%;
    clear: both;
}
/* For the left part of journal content: text part */
.left {
    float: left;
    width: 28%;
    height: 300px;
}
/* For the right part of journal content: image/vedio/sound part */
.right {
    float: right;
    width: 70%;
    height: 300px;
}


.em_eg {
    font-size: em;
}
.em2_eg {
    font-size: 2em;
}
.em3_eg {
    font-size: 3em;
}
.px16_eg {
    font-size: 16px;
}
.px18_eg {
    font-size: 18px;
}
.px20_eg {
    font-size: 20px;
}