
.topnav {
    background-color: rgb(238, 165, 165);
    overflow: hidden;
    margin: auto;
    width: 60%;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: rgb(255, 197, 197);
    color: black;
}
.topnav a.active {
    background-color: #e46f6f;
    color: white;
}



section {
    margin: auto;
    width: 60%;
    clear: both;
}

.left {
    float: left;
    width: 28%;
    height: 300px;
}

.right {
    float: right;
    width: 70%;
    height: 300px;
}

li {
    font-style: bold;
}